@section body{

    <div class="container demoContainer">
        <div class="header">
            <h3 class="text-muted">Realtime Data Demo</h3>
        </div>
        <div ng-view></div>
    </div>

}



@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
<script src="signalr/hubs"></script>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>


    <script src="~/app/app.js"></script>
    <script src="~/app/TicketSignalR.js"></script>

}
